.app__header {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
  padding: 1rem 3rem;
}


@media (max-width: 600px) {
  .app__header {
 
    padding: 1rem 1.5rem;
  }
}