@import url("https://fonts.googleapis.com/css2?family=Fjord+One&display=swap");

html {
  font-family: "Fjord One", serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
}

input {
  outline: none;
  font-family: inherit;
}

@media (max-width: 600px) {
  button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
  }
}
